<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<!-- World settings -->
	<WorldWidth>35</WorldWidth>
	<WorldHeight>25</WorldHeight>
	<GameLevel>Normal</GameLevel>

	<!-- Logging configuration -->
	<Logging>
		<!-- Default Level -->
		<GlobalSourceLevel>Information</GlobalSourceLevel>

		<!-- Listeners -->
		<Listeners>
			<!-- Console Listener (inherits Information) -->
			<Listener type="Console" />

			<!-- File Listener for all Information+ -->
			<Listener type="File">
				<Path>game-info.log</Path>
			</Listener>

			<!-- File Listener for Warning+ only -->
			<Listener type="File">
				<FilterLevel>Warning</FilterLevel>
				<Path>game-warning.log</Path>
			</Listener>
		</Listeners>
	</Logging>
</Configuration>
