<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<!-- World settings -->
	<WorldWidth>30</WorldWidth>
	<WorldHeight>20</WorldHeight>
	<GameLevel>Normal</GameLevel>

	<!-- Logging configuration -->
	<Logging>
		<!-- Default Level -->
		<GlobalSourceLevel>Information</GlobalSourceLevel>

		<!-- Listeners -->
		<Listeners>
			<!-- Console Listener -->
			<Listener type="Console" />

			<!-- File listener -->
			<Listener type="File">
				<FilterLevel>Warning</FilterLevel>
				<Path>game.log</Path>
			</Listener>
		</Listeners>
	</Logging>
</Configuration>
